In [10]:
import pandas
import numpy

In [14]:
with open ("C:\\Users\\danyx\\Downloads\\RKI_COVID19.csv", "r", encoding='utf-8') as f:
    df = pandas.read_csv(f)

In [9]:
df

,ï»¿IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall
0,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,1,0,810232,2020-03-14T00:00:00.000Z,1001,"06.04.2020, 00:00 Uhr",0,-9
1,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,2,0,810233,2020-03-19T00:00:00.000Z,1001,"06.04.2020, 00:00 Uhr",0,-9
2,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,1,0,810234,2020-03-21T00:00:00.000Z,1001,"06.04.2020, 00:00 Uhr",0,-9
3,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,1,0,810235,2020-03-27T00:00:00.000Z,1001,"06.04.2020, 00:00 Uhr",0,-9
4,1,Schleswig-Holstein,SK Flensburg,A15-A34,M,1,0,810236,2020-04-04T00:00:00.000Z,1001,"06.04.2020, 00:00 Uhr",0,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37761,9,Bayern,LK GÃ¼nzburg,A35-A59,M,6,0,841227,2020-03-25T00:00:00.000Z,9774,"06.04.2020, 00:00 Uhr",0,-9
37762,9,Bayern,LK GÃ¼nzburg,A35-A59,M,2,0,841228,2020-03-26T00:00:00.000Z,9774,"06.04.2020, 00:00 Uhr",0,-9
37763,9,Bayern,LK GÃ¼nzburg,A35-A59,M,3,0,841229,2020-03-28T00:00:00.000Z,9774,"06.04.2020, 00:00 Uhr",0,-9
37764,9,Bayern,LK GÃ¼nzburg,A35-A59,M,1,0,841230,2020-03-29T00:00:00.000Z,9774,"06.04.2020, 00:00 Uhr",0,-9
37765,9,Bayern,LK GÃ¼nzburg,A35-A59,M,6,0,841231,2020-03-31T00:00:00.000Z,9774,"06.04.2020, 00:00 Uhr",0,-9

In [17]:
# df.drop(labels=["ï»¿IdBundesland", "Landkreis", "Altersgruppe"], axis="columns")
cases = pandas.pivot_table(df, values="AnzahlFall", index=["Bundesland", "Meldedatum"], aggfunc=numpy.sum)
cases

                                            AnzahlFall
Bundesland        Meldedatum
Baden-Württemberg 2020-01-30T00:00:00.000Z           2
                  2020-01-31T00:00:00.000Z           2
                  2020-02-02T00:00:00.000Z           1
                  2020-02-23T00:00:00.000Z          12
                  2020-02-24T00:00:00.000Z           2
...                                                ...
Thüringen         2020-04-01T00:00:00.000Z          60
                  2020-04-02T00:00:00.000Z          83
                  2020-04-03T00:00:00.000Z          66
                  2020-04-04T00:00:00.000Z          44
                  2020-04-05T00:00:00.000Z          34

[559 rows x 1 columns]

In [18]:
deaths = pandas.pivot_table(df, values="AnzahlTodesfall", index=["Bundesland", "Meldedatum"], aggfunc=numpy.sum)
deaths

                                            AnzahlTodesfall
Bundesland        Meldedatum
Baden-Württemberg 2020-01-30T00:00:00.000Z                0
                  2020-01-31T00:00:00.000Z                0
                  2020-02-02T00:00:00.000Z                0
                  2020-02-23T00:00:00.000Z                0
                  2020-02-24T00:00:00.000Z                0
...                                                     ...
Thüringen         2020-04-01T00:00:00.000Z                1
                  2020-04-02T00:00:00.000Z                0
                  2020-04-03T00:00:00.000Z                0
                  2020-04-04T00:00:00.000Z                1
                  2020-04-05T00:00:00.000Z                0

[559 rows x 1 columns]

In [19]:
merged = cases.join(deaths, how="outer")
merged

                                            AnzahlFall  AnzahlTodesfall
Bundesland        Meldedatum
Baden-Württemberg 2020-01-30T00:00:00.000Z           2                0
                  2020-01-31T00:00:00.000Z           2                0
                  2020-02-02T00:00:00.000Z           1                0
                  2020-02-23T00:00:00.000Z          12                0
                  2020-02-24T00:00:00.000Z           2                0
...                                                ...              ...
Thüringen         2020-04-01T00:00:00.000Z          60                1
                  2020-04-02T00:00:00.000Z          83                0
                  2020-04-03T00:00:00.000Z          66                0
                  2020-04-04T00:00:00.000Z          44                1
                  2020-04-05T00:00:00.000Z          34                0

[559 rows x 2 columns]

In [21]:
sorted = merged.sort_index(axis=0, level=[0, 1])
sorted

                                            AnzahlFall  AnzahlTodesfall
Bundesland        Meldedatum
Baden-Württemberg 2020-01-30T00:00:00.000Z           2                0
                  2020-01-31T00:00:00.000Z           2                0
                  2020-02-02T00:00:00.000Z           1                0
                  2020-02-23T00:00:00.000Z          12                0
                  2020-02-24T00:00:00.000Z           2                0
...                                                ...              ...
Thüringen         2020-04-01T00:00:00.000Z          60                1
                  2020-04-02T00:00:00.000Z          83                0
                  2020-04-03T00:00:00.000Z          66                0
                  2020-04-04T00:00:00.000Z          44                1
                  2020-04-05T00:00:00.000Z          34                0

[559 rows x 2 columns]

In [27]:
sorted.columns = ["Cases", "Deaths"]

In [28]:
sorted.cumsum()

                                            Cases  Deaths
Bundesland        Meldedatum
Baden-Württemberg 2020-01-30T00:00:00.000Z      2       0
                  2020-01-31T00:00:00.000Z      4       0
                  2020-02-02T00:00:00.000Z      5       0
                  2020-02-23T00:00:00.000Z     17       0
                  2020-02-24T00:00:00.000Z     19       0
...                                           ...     ...
Thüringen         2020-04-01T00:00:00.000Z  95122    1428
                  2020-04-02T00:00:00.000Z  95205    1428
                  2020-04-03T00:00:00.000Z  95271    1428
                  2020-04-04T00:00:00.000Z  95315    1429
                  2020-04-05T00:00:00.000Z  95349    1429

[559 rows x 2 columns]

In [29]:
sorted.groupby("Bundesland").cumsum()

                                            Cases  Deaths
Bundesland        Meldedatum
Baden-Württemberg 2020-01-30T00:00:00.000Z      2       0
                  2020-01-31T00:00:00.000Z      4       0
                  2020-02-02T00:00:00.000Z      5       0
                  2020-02-23T00:00:00.000Z     17       0
                  2020-02-24T00:00:00.000Z     19       0
...                                           ...     ...
Thüringen         2020-04-01T00:00:00.000Z    949      11
                  2020-04-02T00:00:00.000Z   1032      11
                  2020-04-03T00:00:00.000Z   1098      11
                  2020-04-04T00:00:00.000Z   1142      12
                  2020-04-05T00:00:00.000Z   1176      12

[559 rows x 2 columns]

In [30]:
cummulated = sorted.groupby("Bundesland").cumsum()
cummulated.columns = ["TotalCases", "TotalDeaths"]
cummulated

                                            TotalCases  TotalDeaths
Bundesland        Meldedatum
Baden-Württemberg 2020-01-30T00:00:00.000Z           2            0
                  2020-01-31T00:00:00.000Z           4            0
                  2020-02-02T00:00:00.000Z           5            0
                  2020-02-23T00:00:00.000Z          17            0
                  2020-02-24T00:00:00.000Z          19            0
...                                                ...          ...
Thüringen         2020-04-01T00:00:00.000Z         949           11
                  2020-04-02T00:00:00.000Z        1032           11
                  2020-04-03T00:00:00.000Z        1098           11
                  2020-04-04T00:00:00.000Z        1142           12
                  2020-04-05T00:00:00.000Z        1176           12

[559 rows x 2 columns]

In [31]:
final = sorted.join(cummulated, how="outer")
final

                                            Cases  Deaths  TotalCases  \
Bundesland        Meldedatum
Baden-Württemberg 2020-01-30T00:00:00.000Z      2       0           2
                  2020-01-31T00:00:00.000Z      2       0           4
                  2020-02-02T00:00:00.000Z      1       0           5
                  2020-02-23T00:00:00.000Z     12       0          17
                  2020-02-24T00:00:00.000Z      2       0          19
...                                           ...     ...         ...
Thüringen         2020-04-01T00:00:00.000Z     60       1         949
                  2020-04-02T00:00:00.000Z     83       0        1032
                  2020-04-03T00:00:00.000Z     66       0        1098
                  2020-04-04T00:00:00.000Z     44       1        1142
                  2020-04-05T00:00:00.000Z     34       0        1176

                                            TotalDeaths
Bundesland        Meldedatum
Baden-Württemberg 2020-01-30T00:00:00.000Z            0
                  2020-01-31T00:00:00.000Z            0
                  2020-02-02T00:00:00.000Z            0
                  2020-02-23T00:00:00.000Z            0
                  2020-02-24T00:00:00.000Z            0
...                                                 ...
Thüringen         2020-04-01T00:00:00.000Z           11
                  2020-04-02T00:00:00.000Z           11
                  2020-04-03T00:00:00.000Z           11
                  2020-04-04T00:00:00.000Z           12
                  2020-04-05T00:00:00.000Z           12

[559 rows x 4 columns]

In [32]:
final.rename_axis(["State", "Date"])

                                            Cases  Deaths  TotalCases  \
State             Date
Baden-Württemberg 2020-01-30T00:00:00.000Z      2       0           2
                  2020-01-31T00:00:00.000Z      2       0           4
                  2020-02-02T00:00:00.000Z      1       0           5
                  2020-02-23T00:00:00.000Z     12       0          17
                  2020-02-24T00:00:00.000Z      2       0          19
...                                           ...     ...         ...
Thüringen         2020-04-01T00:00:00.000Z     60       1         949
                  2020-04-02T00:00:00.000Z     83       0        1032
                  2020-04-03T00:00:00.000Z     66       0        1098
                  2020-04-04T00:00:00.000Z     44       1        1142
                  2020-04-05T00:00:00.000Z     34       0        1176

                                            TotalDeaths
State             Date
Baden-Württemberg 2020-01-30T00:00:00.000Z            0
                  2020-01-31T00:00:00.000Z            0
                  2020-02-02T00:00:00.000Z            0
                  2020-02-23T00:00:00.000Z            0
                  2020-02-24T00:00:00.000Z            0
...                                                 ...
Thüringen         2020-04-01T00:00:00.000Z           11
                  2020-04-02T00:00:00.000Z           11
                  2020-04-03T00:00:00.000Z           11
                  2020-04-04T00:00:00.000Z           12
                  2020-04-05T00:00:00.000Z           12

[559 rows x 4 columns]